<div class="row">
  <div class="col-md-offset-1 col-md-5">
    <p align = "center"><b><%= title1 %></b></p>
    <%= render(content1,:wishlist => wishlist) %>
  </div>
  <div class="col-md-5">
    <p align = "center"><b><%= title2 %></b></p>
    <%= render(content2,:wishlist => wishlist) %>
  </div>
</div>
