
    <div class="row">
      <div class="panel panel-<%= color %>">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= title %>
          </h3>
        </div>
        <div class="panel-body">
          <%= render(content) %>
       </div>
     </div>
   </div>
