<div class="row">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">
        Add New Book
          </h3>
    </div>
    <div class="panel-body">
      <form action="/books/new_2" class = "form-inline">
        <!-- Hidden input for authenticity token to protect from forgery -->
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
        <!-- Label and input for isbn13 -->
        <div class="form-group">
          <label for="isbn13" class="control-label">
            Isbn13
        </label>
          <input type="text" id="isbn13" name="isbn13" placeholder="Isbn13" class="form-control">
        </div>
        <button class="btn btn-primary">
          Find Book
      </button>
        or
      <a href="/books">Cancel</a>
      </form>

      <h3>Instructions:</h3>
      <p>Books cannot be added manually, to avoid input errors. Instead, look for the ISBN13 of the book at Amazon or google books. At Amazon, this can be found as indicated in the picture below:</p>
      <img src="<%= asset_path "instructions_new_book.jpg" %>" align="middle">
      <p>If the book cannot be found using the Amazon ISBN, please try Google Books. Sometimes the ISBNs are slightly different</p>


    </div>
  </div>
</div>
