
<% if wishlist.user_id == current_user.id && wishlist.status_id.to_i < 4 then %>

<span title= "Edit Wishlist"><a href="/wishlists/<%= wishlist.id %>/edit" class="btn btn-xs btn-warning"><i class="fa fa-pencil-square-o"></i></a></span>

<span title= "Delete Wishlist"><a href="/delete_wishlist/<%= wishlist.id %>" class="btn btn-xs btn-danger" rel="nofollow"><i class="fa fa-trash"></i></a></span>

<% end %>
